html {
	height: 100%;
	width: 100%;
	cursor: none;
}
#cursor {
	position: absolute;
	width: 96px;
	height: 128px;
}
#cursorleft {
	display: inline-block;
	background-image: url(images/rocketleft.png);
	width: 47px;
	height: 128px;
	-webkit-transition: -webkit-transform 0.5s;
}
#cursorright {
	display: inline-block;
	background-image: url(images/rocketright.png);
	width: 49px;
	height: 128px;
	-webkit-transition: -webkit-transform 0.5s;
}
#cursor.sperm {
	background-image: url(images/sperm.png);
}
#cursor.sperm #cursorleft {
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 100% 200%;
}
#cursor.sperm #cursorright {
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: 0% 200%;
}
.enemy {
	height: 128px;
	width: 128px;
	background-image: url(images/asteroid.png);
	position: absolute;
}
#health-label {
	font-size: 24px;
}
#health-container {
	width: 200px;
	display: inline-block;
	border: 1px solid black;
	padding: 2px;
}
#health {
	width: 200px;
	height: 10px;
	background-color: black;
}
